<?xml version="1.0" encoding="utf-8" ?>
<phpunit
        bootstrap="/home/wwwroot/www.note.git/public/index-test.php"
        verbose="ture"
        backupGlobals = "false"
        processIsolation = "true"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
>

</phpunit>